/* 
.bookmat {
	display: flex;
    flex-direction: row;
	align-items: center ;
	min-height: 30rem;
} */






*{
    margin: auto;
    padding:auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ff-scala-sans-pro, sans-serif, #A4A4A1;
    background: #767B80;
    overflow: hidden; /*hides scrollbars*/
}

        
.footer {
    color:  #e5d1b9;
    text-align: center;
    font-family: ff-scala-sans-pro, sans-serif;
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5; 
    z-index: -1;
}      

.home-btn {
    color: #e5d1b9;
    text-align: left;
    position: fixed;
    font-family: ff-scala-sans-pro, sans-serif;
    bottom: 10px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}
        
    
/* Book */
.container{
    pointer-events: none;
    width: 90%;
    margin: auto; /* Center the DIV horizontally */
    /* display:flex */
}

.closed.flip-book {

	position: fixed;
	pointer-events: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 36rem;
	height: 24rem;
	perspective: 75rem;
	
	transition: transform 1s 3s;
	background-color: transparent;
	box-shadow: none;
    >* {
pointer-events: none;
    }
}
.closed#flip-book-1{
   transform: translateX(-40em) rotate(20deg) scale(0.5) !important;
}
.closed#flip-book-2{
    transform: translateX(0px) rotate(20deg) scale(0.5) !important;
}
.closed#flip-book-3{
      transform: translateX(40em) rotate(20deg) scale(0.5) !important;
}
.opened.flip-book {
	transform: rotate(0) o !important;

	transition: transform 3s;
}

.page-bkg {
    background-color: #000000;
}

    
/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:#e5d1b9;
    font-family: ff-scala-sans-pro, sans-serif;
}

i {
    padding-bottom: 5px;
    font-size: 50px;
    color:#e5d1b9;
}

/*  
*  Modal Content 
*/

/* Trigger Opening the Modal */
.hidden {
    visibility: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.9); Black w/ opacity */
    overflow: hidden;
}

/* Modal Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #e5d1b9;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
}

/*Modal Zoom in btn*/
.zoom {
    position: absolute;
    top: 30px;
    left: 35px;
    color: #e5d1b9;
    transition: 0.3s;
    padding: 30;
}
.zoom-btn {
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
}

/* Modal content Image */

.pinch-zoom-container {
    overflow: hidden;
    height: 90%;
    width: 70%;
    touch-action: none !important;
}

.pinch-zoom-image {
    width: 100%;
    touch-action: none !important;
}
