/* 
Variables 
*/
.black {
  color: #231F20;
}

.white {
  color: #FFFFFF;
}

.lt-red {
  color: #cc9999;
}

.red {
  color: #721816;
}

.green {
  color: #226C6F;
}

h1 {
  font-size: clamp(1rem, 10cqi, 2.5rem);
  margin-bottom: 2cqi;
}

h2 {
  font-size: clamp(1rem, 6.5cqi, 2.125rem);
  margin-top: 0px;
  margin-bottom: 3cqi;
  font-weight: 400;
}

h3 {
  font-size: clamp(1rem, 6cqi, 2.125rem);
  margin-bottom: 1cqi;
}

h4 {
  font-size: clamp(1rem, 6cqi, 2rem);
}

h5 {
  font-size: clamp(1rem, 5cqi, 1.75rem);
}

h6 {
  font-size: clamp(1rem, 5cqi, 1.5rem);
}

p {
  font-size: clamp(0.75rem, 4cqi, 1.25rem);
  margin-bottom: 2cqi;
}

:root {
  font-family: "Pangram", "Avenir", ff-scala-sans-pro, sans-serif;
}

* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #2b6c70;
  overflow: hidden; /*hides scrollbars*/
}
body .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  container-type: inline-size;
  width: 100%;
  gap: clamp(1rem, 1rem + (1vw - 0.2rem) * 1.667, 2rem);
  padding: clamp(1rem, 1rem + (1vw - 0.2rem) * 1.667, 2rem);
}
body header {
  height: 20vh;
  flex-shrink: 1;
  width: 100%;
}
body header img {
  flex-shrink: 2;
  object-fit: contain;
  max-height: 100%;
  width: auto;
  margin: 0px;
}
body header p {
  margin: 0;
}
body nav { /* Controller Buttons */
  align-items: bottom;
  height: 10vh;
  flex-shrink: 1;
}
body nav.row {
  padding-top: 0;
  padding-bottom: 0;
  gap: 10cqi;
}
body nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
}
body nav button p {
  margin: 0px;
}
body nav button i {
  padding-bottom: 5px;
  font-size: clamp(1rem, 6cqi, 2.125rem);
  margin: 0;
}
body nav button .home-btn {
  align-items: bottom;
}
body {
  /* Book */
}
body main .container {
  flex: 2;
  height: 100%;
}
body main .container .flip-book {
  max-height: 60vh;
  height: auto;
}
body main .container .page {
  container-type: inline-size;
}
body main .container .page-bkg {
  background-color: #FFFFFF;
}
body main .container .page-bkg_red {
  background-color: #721816;
}
body main .container .page-bkg_gray {
  background-color: #CFD8DA;
}
body main .container .page-bkg_dk_gray {
  background-color: #67676a;
}
body main .container .page-bkg_green {
  background-color: #226C6F;
}
body main .container .page-bkg_red-gray {
  background: linear-gradient(to bottom, #721816 0%, #721816 25%, #CFD8DA 25%, #CFD8DA 100%);
}
body main .container .page-bkg_red-white {
  background: linear-gradient(to bottom, #721816 0%, #721816 25%, #FFFFFF 25%, #FFFFFF 100%);
}
body main .container .page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
body main .container .page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
body main .container .page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  padding: clamp(1.5rem, 10cqi, 3.5rem);
}
body main .container .page .page-content.space-between {
  justify-content: space-between;
}
body main .container .page .page-content.center {
  justify-content: center;
  align-items: center;
}
body main .container .page .page-content.bottom {
  justify-content: flex-end;
}
body main .container .page .page-content.start {
  justify-content: start;
}
body main .container .page .page-content .font__small {
  font-size: clamp(0.75rem, 4cqi, 1rem);
}
body main .container .page .page-content .font__med {
  font-size: 4cqi;
}
body main .container .page .page-content .font__large {
  font-size: 5cqi;
}
body main .container .page .page-content .bold {
  font-weight: 500;
}
body main .container .page .page-content img {
  max-width: 100%;
  height: auto;
  display: block;
}
body main .container .page .page-content figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
body main .container .page .page-content figure blockquote {
  font-size: clamp(1rem, 6cqi, 2rem);
  font-style: italic;
  line-height: 1.25;
  margin: 0;
  text-wrap: pretty;
  padding-bottom: clamp(0.5rem, 5cqi, 0.75rem);
}
body main .container .page .page-content figure figcaption {
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1rem, 6cqi, 2rem);
}
body main .container .page .page-content figure img {
  object-fit: contain;
}
body main .container .page .page-content figure.page1 {
  margin-bottom: 2em;
  height: 40%;
}
body main .container .page .page-content figure.page1 img {
  object-fit: contain;
  height: 100%;
}
body main .container .page .page-content figure.page1 figcaption {
  color: #FFFFFF;
  text-align: right;
  font-size: clamp(0.5rem, 4cqi, 0.75rem);
  text-transform: none;
  font-weight: normal;
}
body main .container .page .page-content figure.page6 a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-height: 100%;
  height: auto;
  margin: 0cqi 20cqi 0cqi 20cqi;
}
body main .container .page .page-content figure.quote {
  position: relative;
  margin-right: clamp(-3.5rem, -12.5cqi, -1.5rem);
  margin-left: clamp(-1.75rem, -6cqi, -0.75rem);
  padding: 4cqi;
  background: #e9eced;
}
body main .container .page .page-content figure.quote h3 {
  padding-bottom: 4cqi;
}
body main .container .page .page-content figure.page12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
  width: auto;
  padding: 1rem 0px 2rem 0px;
  margin: clamp(-3.5rem, -12.5cqi, -1.5rem);
}
body main .container .page .page-content figure.page12 img:first-child {
  flex-grow: 1;
}
body main .container .page .page-content figure.page12 img:last-child {
  flex-grow: 2;
}
body main .container .page .page-content figure.page12 img {
  margin-top: 0;
  object-fit: contain;
  width: auto;
  height: 100%;
  min-width: 0;
  margin: 0;
}
body main .container .page .page-content hr {
  border: 0.5px solid #b78989;
  margin-top: 1.25em;
  margin-bottom: 1em;
  width: 100%;
}
body main .container .page .page-content ol {
  list-style: none;
  counter-reset: list-number;
  padding: 0;
}
body main .container .page .page-content ol li {
  padding-bottom: clamp(1rem, 5cqi, 1.5rem);
}
body main .container .page .page-content ol li:before {
  counter-increment: list-number;
  content: counter(list-number);
  padding: 0.25em;
  margin: clamp(0.5rem, 5cqi, 0.75rem);
  margin-left: 0;
  width: clamp(1.25rem, 5cqi, 3rem);
  height: clamp(1.25rem, 5cqi, 3rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 4cqi, 1.5rem);
  background-color: #721816;
  border-radius: 50%;
  color: #FFFFFF;
}
body main .container .page .page-content .red-flag {
  padding: 3cqi;
  position: absolute;
  right: 0px;
  left: 20cqi;
  bottom: clamp(1.5rem, 10cqi, 3.5rem);
  font-size: clamp(0.75rem, 4cqi, 1.25rem);
  color: #FFFFFF;
  background: #721816;
}
body #cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  display: none;
  z-index: 1;
}
body #cookies .cookie-container {
  border: 1px solid;
  padding: 16.5px 24px;
  box-shadow: 0 -1px 10px 0 rgba(172, 171, 171, 0.3019607843);
}
body #cookies .cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body #cookies .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  gap: 0.5em;
}
body #cookies .btn-wrapper #cookies-btn {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
  font-family: inherit;
}
body #cookies .btn-wrapper #cookies-btn-reject {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000000;
  font-family: inherit;
}

/*  
*  Modal Content 
*/
/* Trigger Opening the Modal */
.hidden {
  visibility: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.9); Black w/ opacity */
  overflow: hidden;
}

/* Modal Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e5d1b9;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

/*Modal Zoom in btn*/
.zoom {
  position: absolute;
  top: 30px;
  left: 35px;
  color: #e5d1b9;
  transition: 0.3s;
  padding: 30;
}

.zoom-btn {
  font-size: 40px;
  font-weight: bold;
  padding-left: 15px;
}

/* Modal content Image */
.pinch-zoom-container {
  overflow: hidden;
  height: 90%;
  width: 70%;
  touch-action: none !important;
}

.pinch-zoom-image {
  width: 100%;
  touch-action: none !important;
}

/*# sourceMappingURL=style.css.map */
